.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #f0f0f0;
  text-align: left;
  height: 40px;
  padding: 20px;
  color: #ADD8E6;
}

.App-intro {
  font-size: large;
}

.navbar{
  color: #85B0BE;
  margin: 5px;
  padding: 5px;
}

.nav-button{
  color: #85B0BE;
  padding: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
